@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.img-box {
  background-size: cover;
}

#section-heading::after,
#section-heading::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: red;
  position: absolute;
}
#section-heading::after {
  top: 100%;
  left: 0%;
  margin-top: 5px;
}
#section-heading::before {
  bottom: 100%;
  right: 0%;
  margin-bottom: 5px;
}
header {
  /*background-image: url('./assets/images/mueller4clean-hero.jpg');*/
  background-image: linear-gradient(
      to bottom,
      rgba(67, 68, 71, 0.342),
      rgba(54, 54, 46, 0.062)
    ),
    url("./assets/images/mueller4clean-hero.jpg");
  background-size: cover;
  background-position: bottom;
}
#main-nav {
  width: 55%;
  position: absolute;
  top: 0px;
  left: 21.5%;
  background-color: #0f5a7780;
}
#hero {
  position: absolute;
  top: 35%;
}
#hero::before {
  content: "";
  width: 150px;
  height: 15px;
  background-color: #ffff00;
  display: block;
  margin-bottom: 5px;
}
#card {
  min-width: 430px;
}
